body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local('Courgette Regular'), url(https://fonts.gstatic.com/l/font?kit=wEO_EBrAnc9BLjLQAUkFVOgD9AxN6teqKJ2j2LAt&skey=427bdd45dca77eaa&v=v5) format('woff2');
}

@media print {
    .no-print {
        display: none !important;
    }
}
